<div class="home-content">
  <div class="home-title">
    <h1>WYRCAN</h1>
  </div>
  <div class="home-description">
    <p>
        Wyrcan is an APP dedicated to connecting employers with undiscovered talent
    </p>
  </div>
  <div class="home-auth">
    <a class="btn-home-a" [routerLink]="['/signup']">
      <div class="btn-home"><span>Sign Up</span></div>
    </a>
    <a class="btn-home-a" [routerLink]="['/login']">
      <div class="btn-home"><span>Log In</span></div>
    </a>
  </div>
</div>
