.home-content{
  text-align: center;
}
.home-title{
  margin: 20px 0 50px;
}
.home-title h1 {
  font-family: 'Phenomena', Arial, Helvetica, sans-serif;
  font-size: 120px;
  margin: 0px;
  color: #1371A7;
  line-height: 120px;
}
.home-title img{
  width: 335px;
}
.home-description{
  margin-bottom: 80px;
  font-size: 18px;
}
.btn-home-a{
  text-decoration: none;
  font-weight: bold;
  color: #1371A7; 
}
.btn-home{
  background: #fff;
  padding: 15px;
  border: 1px solid #1471a7;
  border-radius: 5px;
  margin-bottom: 10px;
}