.home-content{
  text-align: center;
}
.home-title{
  margin: 20px 0 50px;
}
.home-title h1 {
  font-family: 'Phenomena', Arial, Helvetica, sans-serif;
  font-size: 120px;
  margin: 0px;
  color: #1371A7;
}
.home-title img{
  width: 335px;
}
.home-description{
  margin-bottom: 80px;
  font-size: 18px;
}
.btn-home-signup,.btn-home-login {
  text-decoration: none;
  font-weight: bold;
  color: #fff; 
  display: block;
  width: 100%;
  margin: 0 auto;
  border-radius: 2px;
}
.home-signup, .home-login{
  padding: 15px;
  border-radius: 2px;
  margin-bottom: 10px;
}