<div *ngIf="!user">
  Loading information ...
</div>
<div *ngIf="user">
  <div class="myjobs-nav">
    <div>
      <a [routerLink]="['/profile']">Profile</a> |
      <a *ngIf="user.role === 'employer'" [routerLink]="['/my-jobs']">My Jobs</a>
      <a *ngIf="user.role === 'student'" [routerLink]="['/jobs']">Jobs</a>
    </div>
    <div>
      <!-- <div class="reset-a" *ngIf="user.role === 'employer'">
        <a [routerLink]="['/my-jobs/create']"><div class="btn">Create Job</div></a>
      </div> -->
    </div>
  </div>
</div>
