<app-navbar [user]="user"></app-navbar>
<div *ngIf="!job">
  Loading job ...
</div>
<div *ngIf="job">
  <div class="job-details">
    <div class="job-position">
      <h2>Job Position:</h2>
      {{job.position}}
    </div>
    <div class="job-description">
      <h2>Job Description:</h2>      
      {{job.description}}
    </div>
  </div>
</div>
<div class="applicants-wrapper">
  <div *ngIf="!user">
    Loading applicants ...
  </div>
  <div *ngIf="user.role === 'employer'">
    <h2>Applicants</h2>
    <div *ngIf="!job">
      Loading applicants ...
    </div>
    <div *ngIf="job">
      <div *ngFor="let applicant of job.applications">
        <app-applicant-card [applicant]="applicant"></app-applicant-card>
      </div>
    </div>
  </div>
  <div *ngIf="user.role === 'student'">
    <div *ngIf="!job">Loading info ...</div>
    <div *ngIf="job">
      <div>
        Published by: <a [routerLink]="['/profile', job.owner._id]">{{job.owner.name}}</a>
      </div>
      <div>
        <button (click)="apply(job._id)">Apply</button>
      </div>
    </div>
  </div>
</div>
