<app-navbar [user]="user"></app-navbar>
<div *ngIf="!job">
  Loading job ...
</div>
<div *ngIf="job">
  <div class="job-details">
    <div class="job-position">
      {{job.position}}
    </div>
    <div class="job-description">
      {{job.description}}
    </div>
  </div>
</div>
<div class="applicants-wrapper">
  <div *ngIf="!user">
    Loading applicants ...
  </div>
  <div *ngIf="user.role === 'employer'">
    <h2>Applicants</h2>
    <div *ngIf="!job">
      Loading applicants...
    </div>
    <div *ngIf="job">
      <div *ngFor="let applicant of job.applications">
        <app-applicant-card [applicant]="applicant"></app-applicant-card>
      </div>
    </div>
  </div>
  <div *ngIf="user.role === 'student'">
      <button (click)="apply(job._id)">Apply</button>
  </div>
</div>
