<app-navbar [user]="user"></app-navbar>
<div *ngIf="!job">Loading job ...</div>
<div *ngIf="job">
  <div *ngIf="user.role === 'employer'" class="arch-nav">
    <span (click)="archive(job._id)">Archive</span>
  </div>
  <div class="job-details">
    <div class="job-position">
      <h2>{{job.position}}</h2>
    </div>
    <div class="job-description">
      <span class="bold">Description:</span>
      <p>{{job.description}}</p>
    </div>
    <div *ngIf="user.role === 'student'" class="job-publisher">
      <span class="bold">Published by:</span>
      <p><a [routerLink]="['/profile', job.owner._id]">{{job.owner.name}}</a></p>
    </div>
  </div>
</div>
<div class="applicants-wrapper">
  <div *ngIf="!user">Loading applicants ...</div>
  <div *ngIf="user.role === 'employer'">
    <h2>Applicants</h2>
    <div *ngIf="!job">Loading applicants ...</div>
    <div *ngIf="job">
      <div *ngFor="let applicant of job.applications">
        <app-applicant-card [applicant]="applicant" [job]="job"></app-applicant-card>
      </div>
      <div *ngIf="job.applications.length === 0">
        No one has applied yet.
      </div>
    </div>
  </div>
  <div *ngIf="user.role === 'student'">
    <div *ngIf="!job">Loading info ...</div>
    <div *ngIf="job">
      <div class="form-button">
        <button (click)="apply(job._id)" class="btn-create">Apply</button>
      </div>
    </div>
  </div>
</div>
