<app-navbar [user]="user"></app-navbar>
<div *ngIf="!jobs" class="no-content">
  <p>Loading ...</p>
</div>
<div class="myjobs-wrapper" *ngIf="jobs">
  <div class="arch-nav">
    <a [routerLink]="['/jobs/applied']">Applied Jobs</a>
  </div>
  <h1>Job Offers</h1>
  <div class="filter-job form-input">
    <label for="filter-position">Search for job position: </label>
    <input id="filter-position" placeholder="job position" type="text" [(ngModel)]="pattern">
  </div>
  <div *ngFor="let job of jobs | filter:'position':pattern">
    <app-job-card [job]="job"></app-job-card>
  </div>
  <div *ngIf="!jobs.length" class="empty-list">
    <app-empty-list></app-empty-list>
  </div>
</div>
