<header>
  <div class="header-wrapper">
    <div class="header-logo">
      <a [routerLink]="['/']">
        <img src="/assets/img/small-logo-wyrcan.png" alt="Wyrcan Logo" />
      </a>
    </div>
    <div [ngClass]="{'is-user': user, 'is-anon': anon}">
      <div *ngIf="loading">
        <span class="username text">loading...</span>
      </div>
      <div *ngIf="!loading && !!user">
        <a (click)="logout()">logout</a>
      </div>
    </div>
  </div>
</header>
<div class="content-wrapper">
  <router-outlet></router-outlet>
</div>
<footer>
  <div class="container">
    © Developed by <span class="bold">Pere Amorós</span>
  </div>
</footer>

