<header>
  <div class="header-wrapper">
    <div class="header-logo">
      <div *ngIf="!user">
        <a [routerLink]="['/']">
          <img src="/assets/img/small-logo-wyrcan.png" alt="Wyrcan Logo" />
        </a>
      </div>
      <div *ngIf="user">
        <a *ngIf="user.role === 'employer'" [routerLink]="['/my-jobs']">
          <img src="/assets/img/small-logo-wyrcan.png" alt="Wyrcan Logo" />
        </a>
        <a *ngIf="user.role === 'student'" [routerLink]="['/jobs']">
          <img src="/assets/img/small-logo-wyrcan.png" alt="Wyrcan Logo" />
        </a>
      </div>
    </div>
    <div [ngClass]="{'is-user': user, 'is-anon': anon}">
      <div *ngIf="loading">
        <span class="username text">loading...</span>
      </div>
      <div class="reset-a" *ngIf="!loading && !!user">
        <a (click)="logout()"><div class="btn">Log Out</div></a>
      </div>
    </div>
  </div>
</header>
<div class="content-wrapper">
  <router-outlet></router-outlet>
</div>
<footer>
  <div class="container">
    © Developed by <span class="bold">Pere Amorós</span>
  </div>
</footer>

