<app-navbar [user]="user"></app-navbar>
<div class="create-job-wrapper">
  <h2>Create job</h2>
  <form (ngSubmit)="submitForm(form)" #form="ngForm" novalidate [ngClass]="{'is-processing': processing}">
    <div class="form-input" [ngClass]="{'has-error': feedbackEnabled && positionField.errors}">
      <label>Job Position</label>
      <input type="text" name="position" [(ngModel)]="position" #positionField="ngModel" required [disabled]="processing"/>
      <div *ngIf="feedbackEnabled && positionField.errors">
        <p *ngIf="positionField.errors.required" class="validation">position required</p>
      </div>
    </div>
    <div class="form-input" [ngClass]="{'has-error': feedbackEnabled && descriptionField.errors}">
      <label>Job Description</label>
      <input type="text" name="description" [(ngModel)]="description" #descriptionField="ngModel" required [disabled]="processing"/>
      <div *ngIf="feedbackEnabled && descriptionField.errors">
        <p *ngIf="descriptionField.errors.required" class="validation">description required</p>
      </div>
    </div>
    <div class="form-button">
      <button type="submit" [disabled]="processing" class="btn-create">Create Job</button>
      <div *ngIf="feedbackEnabled && form.invalid">
        <p class="validation">there are errors in the form, please review the fields</p>
      </div>
    </div>
  </form>
</div>
