<div class="login-wrapper">
  <h2>Log In</h2>
  <form (ngSubmit)="submitForm(form)" #form="ngForm" novalidate [ngClass]="{'is-processing': processing}">
    <div class="form-input" [ngClass]="{'has-error': feedbackEnabled && usernameField.errors}">
      <label>Username</label>
      <input type="text" name="username" [(ngModel)]="username" #usernameField="ngModel" required [disabled]="processing"/>
      <div *ngIf="feedbackEnabled && usernameField.errors">
        <p *ngIf="usernameField.errors.required" class="validation">username required</p>
      </div>
    </div>
    <div class="form-input" [ngClass]="{'has-error': feedbackEnabled && passwordField.errors}">
      <label>Password</label>
      <input type="password" name="password" [(ngModel)]="password" #passwordField="ngModel" required [disabled]="processing"/>
      <div *ngIf="feedbackEnabled && passwordField.errors">
        <p *ngIf="passwordField.errors.required" class="validation">password required</p>
      </div>
    </div>
    <div class="form-button">
      <button type="submit" [disabled]="processing">Log In</button>
      <div *ngIf="feedbackEnabled && form.invalid">
        <p class="validation">there are errors in the form, please review the fields</p>
      </div>
    </div>
  </form>
  <span>You don't have an account? <a [routerLink]="['/signup']" class="text-link">Sign Up</a></span>
</div>
