/* ---- reset ---- */

html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

body {
  margin: 0;
  height: 0;
}

/* ---- typography ---- */
@font-face {
  font-family: 'Phenomena';
  src: url('/assets/style/Phenomena-Black.otf');
}
body {
  color: #444;
  font-family: Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 147%;
}
p { margin: 0;}
.bold{font-weight: bold;}

/* ---- layout ---- */
body {
  margin: 0;
}
.main-wrapper{
  max-width: 1024px;
  margin: 0 auto;
}
header{
  width: 100%;
  padding: 10px 20px;
  background: #1371A7;
  position: relative;
  z-index: 1;
}
footer{
  background: #444;
  color: white;
  text-align: center;
  padding: 10px 20px;
  width: 100%;
  z-index: 999;
}
.content-wrapper{
  padding: 95px 20px 50px;
  background: #f5f5f5;
  min-height: 100vh;
  margin-bottom: -21px;
  margin-top: -78px;
}
.container {
  margin: 0 20px;
}
/* ---- components ---- */
/* FORMS */
.form-input, .form-button, .form-textarea {
  margin-bottom: 15px;
}
.form-input label{
  display: block;
  margin-bottom: 10px;
}
.form-input input{
  width: 100%;
  padding: 10px 5px;
  font-size: 12px;
  box-sizing: border-box;
  border: 1px solid #ddd;
  border-radius: 2px;
}
.form-button button{
  width: 100%;
  padding: 15px 5px;
  font-size: 14px;
  font-weight: bold;
  color: #1371A7;
  background: #fff;
  border: 1px solid #1471a7;
  border-radius: 5px;
}
.error, .validation{
  color: red;
  font-size: 12px;
  text-align: center;
}
.success{
  color: #248224;
}
.form-textarea textarea {
  outline: none;
  resize: none;
  width: 100%;
  border: 1px solid #ddd;
  margin: 0;
  padding: 5px;
}
/* LOGIN - SIGNUP  */
.login-wrapper, .signup-wrapper{
  color: #444;
  margin-bottom: 20px;
}
/* BTN */
.btn{
  background: #ddd;
  box-shadow: 0px 3px 0px #CFCDCB;
  border-radius: 2px;
  padding: 5px 15px;
}
.reset-a a{
  color: #1371A7;
  font-size: 12px;
  font-weight: bold;
  text-decoration: none;
}

.card{
  background: #fff;
  margin-bottom: 10px;
  padding: 15px;
  border-radius: 2px;
  box-shadow: 0 0 0 1px rgba(0,0,0,.1), 0 2px 3px rgba(0,0,0,.2);
}
a {
  text-decoration: none;
}