<div *ngIf="!userProfile">
  Loading information ...
</div>
<div *ngIf="userProfile">
  <div class="profile-wrapper">
    <div class="profile-img">
      <img src="/assets/img/profilepic.png" alt="Profile Picture"/>
    </div>
    <div class="profile-name">
      <h1>{{userProfile.name}}</h1>
    </div>
    <div class="profile-description">
      <div class="desc-box">
        <h3>About Me</h3>
        <div class="desc-img" *ngIf="userRole === userProfile">
          <img src="/assets/img/edit.png" alt="Edit About Me" (click)="allowEdit()" />
        </div>
      </div>
      <p>{{ userProfile.description }}</p>
      <div *ngIf="editToken">
        <form (ngSubmit)="submitForm(form)" >
          <div class="form-textarea">
            <textarea name="description" [(ngModel)]="description" rows="4"></textarea>
          </div>
          <div class="form-button">
            <button type="submit">Edit Information</button>
          </div>
        </form>
      </div>
    </div>
  </div>
  <div *ngIf="!userRole">Loading ...</div>
  <div *ngIf="userRole.role === 'employer' && userProfile.role === 'student'">
    <div class="form-button">
      <button class="btn-create">Message</button>
    </div>
    <div class="form-button">
      <button class="btn-create">Accept</button>
    </div>
  </div>
  <div *ngIf="userRole.role === 'employer' && userProfile.role === 'employer'" >
    <app-add-job></app-add-job>
  </div>
</div>
