<div *ngIf="!userProfile">
  Loading information ...
</div>
<div *ngIf="userProfile">
  <div class="profile-wrapper">
    <div class="profile-img">
      <img src="/assets/img/profilepic.png" alt="Profile Picture"/>
    </div>
    <div class="profile-name">
      <h1>{{userProfile.name}}</h1>
    </div>
    <div class="profile-description">
      <h2>Description</h2>
    </div>
  </div>
  <div *ngIf="!userRole">Loading ...</div>
  <div *ngIf="userRole.role === 'employer' && userProfile.role === 'student'">
    <div class="form-button">
      <button class="btn-create">Message</button>
    </div>
    <div class="form-button">
      <button class="btn-create">Accept</button>
    </div>
  </div>
</div>
